@media screen and (max-width: 768px) {
    /* 모바일에 사용될 스트일 시트를 여기에 작성합니다. */

}
@media screen and (max-width: 1100px){
    .subtitle{
        display: none;
    }
    #loginWelcome{
        display: none;
    }
}
@media (max-width: 860px){
    
}

#wrapper{
    padding-left: 15%; padding-right: 15%;
    
}
#title {
    width: 80px;
    
}
.subtitle{
    width: 200px; 
}
#subWrapper{
    
}
#loginWelcome{
    
}
#infoBtn{
   margin-right: 20px;
}
#logoutBtn{
    margin-right: 20px;
}